<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getYearOfProduction()}"></td>
        <td th:text="${car.getColor()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>